@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kirimomi+Swash:wght@400;500;600&display=swap");
@import 'prismjs/themes/prism-tomorrow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fading-down {
  animation: fade-down 1s ease 1 normal;
}

.fading-down-slow {
  animation: fade-down-slow 750ms ease 750ms normal;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.fading-down-slower {
  animation: fade-down-slow 750ms ease 750ms normal;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.fading-right-delayed {
  animation: fade-right 750ms ease 750ms normal;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.fading-right-slower {
  animation: fade-right 1.2s ease 1.2s normal;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}

.fading-right-fast {
  animation: fade-right 0.5s ease 0.5s normal;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.fading-down-fast {
  animation: fade-down 0.5s ease 0.5s normal;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.fading-left {
  animation: fade-left 0.5s;
}

.fading-right {
  animation: fade-left 0.5s;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .card-padding {
    @apply max-container w-4/5 sm:py-8 py-2;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-palanquin text-slate-gray sm:text-2xl max-sm:text-sm leading-loose font-light;
  }

  .heading-text{
    @apply font-montserrat text-slate-gray max-sm:text-lg sm:text-4xl leading-7;
  }

  .tech-text {
    @apply font-ShareTech text-slate-gray sm:text-2xl max-sm:text-sm leading-loose font-light;
  }


  .desc-text {
    @apply font-ShareTech text-slate-gray
    
    sm:text-lg max-sm:text-sm leading-loose font-extralight;
  }

  .card{
    @apply shadow-xl py-10 border-2 
  }

  .icon-size{
    @apply  object-scale-down h-12 w-12 mx-auto
  }
}

@layer base {
  .font-ShareTech {
    font-family: 'Share Tech', sans-serif;
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down-slow {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bg-clip-custom-1 {
  transform: rotate(0deg)
}

.bg-clip-custom-2 {
  clip-path: inset(0);
  transform: rotate(90deg)
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', 'JetBrains Mono', 'Consolas', monospace; 
}
